@import 'reset';
@import 'vars';

html {
  background-color: var(--main-pink);
}

body {
  font-family: freightmedium;
  font-size: 1.6rem;
  line-height: 1.9rem;
  font-weight: 600;
}

h1 {
  font-family: Denmark;
  font-size: 3rem;
  line-height: 3.6rem;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: var(--main-red);
}

.hidden {
  display: none;
}

.logo {
  position: relative;
  z-index: 12;
  background-image: url(../assets/svg/logo-site.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 10rem;
  height: 8rem;
  margin-left: 10rem;
  padding-top: 3rem;
}

.header {
  padding-top: 5rem;
  background:
    url(../assets/svg/detail-fold.svg),
    linear-gradient(to bottom, var(--main-red) 90%, var(--main-red) 90%, var(--main-pink) 90%, var(--main-pink) 100%);
  background-repeat: no-repeat;
  background-position: 80% 0%;
}

.button-light {
  background-image: url(../assets/svg/btn-light-bg.svg);
  background-size: cover;
  padding: .5rem 1.4rem;
  box-shadow: .5rem .8rem 2rem var(--shadow-red);

  &:hover {
    transition: background-image 100ms;
    transition-timing-function: ease-in;
    background-image: url(../assets/svg/btn-hover.svg);
    color: white;
    box-shadow: .5rem .8rem 2rem var(--shadow-red2);
  }
}

.button {
  margin-top: 3rem;
  border: none;
  padding: 1rem 3rem;
}

.fold {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.fold-text {
  margin-bottom: 15rem;
  margin-left: 7rem;
  width: 27rem;
}

.fold-title {
  color: white;
  margin-bottom: 3rem;

  &::after {
    content: url(../assets/svg/decoration.svg);
    height: 100%;
    padding-left: 1.5rem;
  }
}

.fold-img {
  padding-top: -1rem;
  margin-left: -15rem;
}

.dates {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8rem;
}

.date-title {
  color: black;
  margin-top: 3rem;
  margin-bottom: 3rem;
  max-width: 40rem;

  &::after {
    content: url(../assets/svg/decoration.svg);
    height: 100%;
    padding-left: 1.5rem;
  }
}

.line {
  margin-bottom: 5rem;
}

.dates-text {
  padding-left: 15vw;
}

.tentoonstelling {
  margin-bottom: 3rem;
}

.tentoonstelling-title {
  font-family: freightsemibold;
  font-size: 2rem;
  color: black;

  &:hover {
    transition: color 100ms;
    transition-timing-function: ease-in-out;
    color: var(--main-red);
    cursor: pointer;
  }
}

.tentoonstelling-desc {
  margin-bottom: .5rem;
  margin-top: .5rem;
}

.dates-tentoonstellingen {
  margin-bottom: 4rem;
}

.button-dark {
  background-image: url(../assets/svg/btn-dark-bg.svg);
  background-size: cover;
  padding: .7rem 1.4rem;
  color: white;
  border: none;
  background-color: rgba(0, 0, 0, 0);

  &:hover {
    transition: background-image 100ms;
    transition-timing-function: ease-in;
    background-image: url(../assets/svg/btn-hover.svg);
    color: white;
    cursor: pointer;
  }
}

.stats {
  background-color: var(--main-red);
  margin-top: 13rem;
  display: flex;
  justify-content: space-around;
  padding: 7rem;
}

.stats-txt {
  color: white;
  font-size: 2rem;
  font-weight: 400;
}

.app {
  display: flex;
  justify-content: space-around;
  margin-top: 10rem;
  width: 90vw;
}

.app-txt {
  font-size: 1.8rem;
  font-weight: 400;
}

.statistic {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
}

.stats-img {
  margin-bottom: 2.5rem;
}

.app-title {
  margin-bottom: 3rem;

  &::after {
    content: url(../assets/svg/decoration.svg);
    height: 100%;
    padding-left: 1.5rem;
  }
}

.appstore {
  margin-top: 3rem;
}

.app-text {
  width: 40rem;
  margin-left: 12rem;
  order: 2;
}

.app-image {
  margin-left: 14rem;
  order: 1;
}

.app-icon {
  display: none;
}

.applestore {
  margin-right: 2rem;
}

.footer {
  background-color: var(--main-red);
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.address {
  color: white;
  text-align: right;
}

.email {
  color: white;
}

/*QUIZ*/

.quiz-intro {
  width: 60vw;
  margin: 15rem auto;
  text-align: center;

  &-title {
    margin-bottom: 1rem;
  }

  &-explain {
    width: 40vw;
    margin: auto;
    margin-bottom: 3rem;
  }

}

.quiz-button {
  width: 20rem;
  margin-bottom: 10rem;
}

.answer-container {
  display: flex;
  justify-content: center;
  width: 90vw;
  margin: 0 auto;
}

.question-container {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  text-align: center;
}

.quiz-img {
  margin: 2rem;
  width: 40vw;

  &:hover {
    cursor: pointer;
  }
}

.selected {
  background: var(--main-red);
}

.result-text {
  text-align: left;
  margin: .6rem;
}

.result-div {
  width: 50vw;
  margin: 0 auto;
}

.quiz-logo {
  margin-top: 2rem;
}

.email-title {
  font-size: 1.8rem;
  margin-top: 2rem;
}

.email-input {
  width: 20vw;
  margin-top: .5rem;
  margin-bottom: 1rem;
}

.email-form {
  display: flex;
  flex-direction: column;
  width: 40vw;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.email-submit {
  width: 20rem;
  border: none;
}

.error {
  color: var(--deep-red);
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.return-button {
  text-decoration: underline;
  margin-bottom: 10rem;
  color: black;
  margin-top: 5rem;
  font-size: 2.1rem;
}

@media (max-width: 1120px) {

  .tentoonstelling-img {
    width: 35vw;
    height: 100%;
    padding-left: 2vw;
  }
}

@media (max-width: 830px) {

  .tentoonstelling-img {
    display: none;
  }

  .header {
    background: none;
    background: url(../assets/img/bg-image.jpg), var(--main-red);
    background-repeat: no-repeat;
    background-size: 100%;
    background-blend-mode: overlay;
  }

  .fold-img {
    display: none;
  }

  .app {
    width: 90vw;
    margin: 10rem auto;

    &-text {
      width: 40vw;
      margin-left: 5rem;
    }

    &-image {
      margin: 0 auto;
    }

  }

  .quiz-intro {
    width: 80vw;
    margin-top: 10rem;

    &-explain {
      width: 75vw;
      margin: auto;
      margin-bottom: 2rem;
    }
  }

  .result-div {
    width: 90vw;
  }

  .result-text {
    width: 80vw;
  }

  .email-input {
    width: 40vw;
  }
}

@media (max-width: 630px) {

  .stats {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
    padding: 2rem 0;
    margin-top: 7rem;
  }

  .statistic {
    padding: 3rem;
  }

  .app {
    flex-flow: column wrap;
    margin-top: 5rem;
    margin-bottom: 2rem;
  }

  .app-image {
    display: none;
  }

  .app-icon {
    display: block;
    margin: 0 auto 5rem;
  }

  .app-text {
    width: 70vw;
    margin: 0 auto 5rem;
  }

  .logo {
    margin-left: 2rem;
  }

  .fold-text {
    margin: 1rem auto 5rem;
  }

  .tentoonstelling {
    width: 80vw;
  }

  .question-container {
    margin-top: 2rem;
  }
}

@media (max-width: 400px) {

  .dates {
    margin-top: 5rem;
  }

  .date-title {
    width: 80vw;
    font-size: 1.8rem;
    line-height: 2.4rem;
    margin-top: 1rem;
  }

  .answer-container {
    flex-direction: column;
  }

  .quiz-img {
    width: 80vw;
  }

  .quiz-title {
    font-size: 2.1rem;
    text-align: left;
    margin-left: 4rem;
  }

  .quiz-button {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  .email-title, .result {
    font-size: 2.1rem;
    line-height: 2.1rem;
    text-align: left;
    margin-left: 2rem;
  }

  .email-form {
    align-items: flex-start;
    width: 87vw;
    margin-top: 3rem;
  }

}
