@import 'reset';
@import 'vars';

html {
  background-color: var(--main-pink);
}

body {
  font-family: freightmedium;
  font-size: 1.6rem;
  line-height: 1.9rem;
  font-weight: 600;
}

h1 {
  font-family: Denmark;
  font-size: 3rem;
  line-height: 3.6rem;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: var(--main-red);
}

.hidden {
  display: none;
}

.logo {
  position: relative;
  z-index: 12;
  background-image: url(../assets/svg/logo-site.svg);
  background-size: 15rem;
  background-repeat: no-repeat;
  height: 10rem;
  margin-left: 10rem;
  padding-top: 3rem;
}

.header {
  padding-top: 5rem;
  background:
    url(../assets/svg/detail-fold.svg),
    linear-gradient(to bottom, var(--main-red) 90%, var(--main-red) 90%, var(--main-pink) 90%, var(--main-pink) 100%);
  background-repeat: no-repeat;
  background-position: 80% 0%;
}

.button-light {
  background-image: url(../assets/svg/btn-light-bg.svg);
  background-size: cover;
  padding: .5rem 1.4rem;
  box-shadow: .5rem .8rem 2rem var(--shadow-red);

  &:hover {
    transition: background-image 100ms;
    transition-timing-function: ease-in;
    background-image: url(../assets/svg/btn-hover.svg);
    color: white;
    box-shadow: .5rem .8rem 2rem var(--shadow-red2);
  }
}

.fold {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.fold-text {
  margin-bottom: 15rem;
  margin-left: 7rem;
  width: 27rem;
}

.fold-title {
  color: white;
  margin-bottom: 3rem;

  &::after {
    content: url(../assets/svg/decoration.svg);
    height: 100%;
    padding-left: 1.5rem;
  }
}

.fold-img {
  padding-top: -1rem;
  margin-left: -15rem;
}

.dates {
  display: flex;
  justify-content: space-between;
  margin-top: 8rem;
}

.date-title {
  color: black;
  margin-top: 3rem;
  margin-bottom: 3rem;
  max-width: 40rem;

  &::after {
    content: url(../assets/svg/decoration.svg);
    height: 100%;
    padding-left: 1.5rem;
  }
}

.line {
  margin-bottom: 5rem;
}

.dates-text {
  padding-left: 15vw;
}

.tentoonstelling {
  margin-bottom: 3rem;
}

a.tentoonstelling-title {
  font-family: freightsemibold;
  font-size: 2rem;
  color: black;

  &:hover {
    transition: color 100ms;
    transition-timing-function: ease-in-out;
    color: var(--main-red);
    cursor: pointer;
  }
}

.tentoonstelling-desc {
  margin-bottom: .5rem;
  margin-top: .5rem;
}

.dates-tentoonstellingen {
  margin-bottom: 4rem;
}

.button-dark {
  background-image: url(../assets/svg/btn-dark-bg.svg);
  background-size: cover;
  padding: .7rem 1.4rem;
  color: white;

  &:hover {
    transition: background-image 100ms;
    transition-timing-function: ease-in;
    background-image: url(../assets/svg/btn-hover.svg);
    color: white;
  }
}

.stats {
  background-color: var(--main-red);
  margin-top: 13rem;
  display: flex;
  justify-content: space-around;
  padding: 7rem;
}

.stats-txt {
  color: white;
  font-size: 2rem;
  font-weight: 400;
}

.app {
  display: flex;
  justify-content: space-around;
  margin-top: 10rem;
  width: 90vw;
}

.app-txt {
  font-size: 1.8rem;
  font-weight: 400;
}

.statistic {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
}

.stats-img {
  margin-bottom: 2.5rem;
}

.app-title {
  margin-bottom: 3rem;

  &::after {
    content: url(../assets/svg/decoration.svg);
    height: 100%;
    padding-left: 1.5rem;
  }
}

.appstore {
  margin-top: 3rem;
}

.app-text {
  width: 40rem;
  margin-left: 12rem;
  order: 2;
}

.app-image {
  margin-left: 14rem;
  order: 1;
}

.footer {
  background-color: var(--main-red);
}

@media (max-width: 830px) {

  .tentoonstelling-img {
    display: none;
  }
}

@media (max-width: 630px) {

  .stats {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
    padding: 7rem 0;
  }

  .statistic {
    padding: 3rem;
  }

  .app {
    flex-flow: column wrap;
  }

  .app-image {
    order: 5;
  }

  .logo {
    height: 10rem;
    background-size: 30%;
  }
}
