:root {
  --main-red: #ff493b;
  --shadow-red2: color(var(--main-red) lightness(60%));
  --shadow-red: color(var(--main-red) lightness(58%));
  --deep-red: #e00000;
  --main-pink: #ffebe7;
  --main-blue: #494dc9;
}
